.service {
  display: grid;
  text-align: center;
  margin-bottom: 30px;
}

.service .service__title {
  margin-bottom: 15px;
}

.service span {
  position: relative;
  display: inline-block;
  border: 1px solid #cfd1d1;
  padding: 20px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: 0 auto 25px auto;
}

.service span::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border: 1px solid #cfd1d1;
  border-radius: 50%;
}

.service span svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .service-element {
    padding: 10px;
    flex: 0 1 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .service span {
    width: 180px;
    height: 180px;
  }
  .service span svg {
    font-size: 100px !important;
  }
}
