.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    background-color: #f7f7f7;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    position: sticky;
    top: 0;
    z-index: 50;
  }

  .nav ul {
    display: flex;
    justify-content: center;
  }

  .nav ul li {
    margin-left: 15px;
  }

  .nav ul li a {
    font-size: 16px;
    display: inline-block;
    padding: 0 28px;
    height: 55px;
    line-height: 55px;
    border-radius: 8px;
    transition: 0.2s;
  }

  .nav ul li a:hover {
    background-color: rgba(222, 222, 222, 0.35);
  }

  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f7f7f7;
    padding: 10px;
  }
  
}
